@model IEnumerable<KayMVC.DATA.Institution>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InsitutionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InsitutionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InsitutionID })
        </td>
    </tr>
}

</table>
