@model KayMVC.DATA.Responsibility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Responsibility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsibility1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsibility1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeJobEntry.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeJobEntry.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResponsibilityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
