@model KayMVC.DATA.ResumeJobEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResumeJobEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRelevant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRelevant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsibility.Responsibility1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsibility.Responsibility1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
