@model IEnumerable<KayMVC.DATA.ResumeJobEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isRelevant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Company_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsibility.Responsibility1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isRelevant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Company_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsibility.Responsibility1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntryID })
        </td>
    </tr>
}

</table>
