@model KayMVC.DATA.WritingSample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WritingSample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SampleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleContext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleAdditionalContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleAdditionalContext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraphicsSample.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraphicsSample.ImageName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SampleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
