<!DOCTYPE html>
<html>
<head>

    @using KayMVC.DATA
    @using KayMVC.DOMAIN
    @using System.Linq
    @{
        UOW UnitOfWork = new UOW();
        var Picture = UnitOfWork.PictureRepository.Get();
        var Pic = Picture.Where(x => x.isCurrent == true).Select(x => x.ImageName);
        var PicLocation = "/Content/Images/KayPic.jpg";
        if (Pic.Count() >= 1)
        {
            PicLocation = "~/Content/Images/" + Pic;
        }
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="headerCustom" id="headerCustom">
        <div class="headerPicture" id="headerPicture"><img src="@PicLocation" /></div>
        <div class="headerName" id="headerName"></div>
        <div class="headerNavbar" id="headerNavbar">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    { }
                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    <li>@Html.ActionLink("AboutInfo", "Index", "Abouts")</li>
                    <li>@Html.ActionLink("AchievementsInfo", "Index", "Achievements")</li>
                    <li>@Html.ActionLink("BaseInfo", "Index", "BaseInfoes")</li>
                    <li>@Html.ActionLink("CompaniesInfo", "Index", "Companies")</li>
                    <li>@Html.ActionLink("EducationInfo", "Index", "Educations")</li>
                    <li>@Html.ActionLink("Schools", "Index", "Institutions")</li>
                    <li>@Html.ActionLink("Picture", "Index", "Pictures")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "ResumeJobEntries")</li>
                    <li>@Html.ActionLink("Skills", "Index", "Skills")</li>
                    <li>@Html.ActionLink("Writing Samples", "Index", "WritingSamples")</li>
                    <li>@Html.ActionLink("Job Responsibilities", "Index", "Responsibilities")</li>
                    <li>@Html.ActionLink("Graphic Samples", "Index", "GraphicsSamples")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container body-content" id="renderContainer">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
