@model KayMVC.DATA.ResumeUpload

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResumeUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResumeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCurrent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCurrent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResumeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
